:root {
  --background-color: hsl(220, 20%, 10%);

  --font-family: system-ui;
  --font-color: hsl(220, 30%, 95%);
  --font-size: 1.05rem;
  --line-height: 1.6;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);
}
